Source: journald-notify
Section: python
Maintainer: Miloslav Nenadál <miloslav.nenadal@imatic.cz>
Build-Depends:
  debhelper (>=9),
  dh-python,
  python3-all,
  python3-setuptools,
  python-sentry-sdk,
  python3-systemd,
  python3-requests,
  python3-netifaces,
  python3-click
Standards-Version: 3.0.0
Priority: optional

Package: journald-notify
Architecture: all
Depends:
  ${misc:Depends},
  ${python3:Depends}
Description: Daemon that listens to systemd's journal and sends notifications based on filters that you specify.
